* {
	margin: 0px;
	padding: 0px;
    text-decoration: none;
    color: black;
}

html {
    width: 100%;
    background-image: url("images/marble-background2.jpeg");
    font-family: 'Kiwi Maru', serif;
}

/* Global variables declaration */
 :root
{
    --header_height: 210px;
    --body_offset: 230px;
    --header_item_height: 50px;
    --header_menu_offset: 50px;
}
/* Go on... */
 .header-flex 
 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
    height: var(--header_height);
 }
.header-flex > .header-item
{
    top:0;
    position: absolute;
}
.header-flex > .header-item:nth-child(1)
 {
    left: 0;
    margin: 0;
}
 .header-flex > .header-item:nth-child(n+2)
 {
    margin: 10px;
 }

 /* menu horizontal */
nav
{
	width: 100%;
	position: relative;
    font-size: 30px;
    margin: 0 auto;
    padding: 0px;
}
nav > ul
{
	list-style-type: none;
}
nav > ul > li > ul
{
	list-style-type: none;
}
nav > ul::after
{
	content: "";
	display: table;
	clear  : both;
}
nav > ul > li
{
 	float: left;
	width: 15%; 
	text-align: center;
    position: relative;
}
nav > ul > li:nth-child(n+2)
{
    top: var(--header_item_height);
    left: var(--header_menu_offset);
}
nav > ul li:hover .sous_menu
{
	display:block;
}
nav > a
{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
ul > li > a 
{
    top: 250px;
}

.sous_menu
 {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1111;
    font-size: 25px;
 }
 .sous_menu a
 {
    padding: 3px;
    border-bottom: none;
 }

.sous_menu a:hover
 {
    border-bottom: none;
    background-color: white;
    opacity: 0.5;
 }

.sous_menu > li
{
	float: none; 
	width: 100%;
	text-align: center;
}


/* Ma partie */

h1 {
    text-align: center;
    font-size: 200%;
    font-style: italic;
    margin-bottom: 3%;
}

.terrasse {
    max-width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#descriptions {
    display: flex;
    margin-top: 1.5%;
    border-style: double;
    border-width: 7px 0px 0px 0px;
    padding-top: 10px;
}

#histoire, #equipe, #cuisine {
    margin-left: 1%;
    margin-right: 1%;
    justify-content: space-around;
    text-align: justify;
    border-width: 3px;
    padding: 5px;
}

#histoire, #equipe {
    border-style: ridge;
    width: 30%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#cuisine {
    width: 500px;
    height: 400px;
    margin-top: 5%;
    margin-bottom: 2%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    border-style: inset;
    border-width: 1px;
    border-color: rgb(90, 84, 84);
}