/*
 * CSS file : 'header.css' must be included before this curent one...
 */
 html {
    width: 100%;
    background-image: url("images/marble-background2.jpeg");
    font-family: 'Kiwi Maru', serif;
}
.contact-flex 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.contact-flex > .contact-item 
{
    position: relative;
    width: 50%;
    left: 50px;
}
