/*
 * CSS file : 'header.css' must be included before this curent one...
 */
 
.contact-flex 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.contact-flex > .contact-item 
{
    position: relative;
    width: 50%;
}
