/*
 * CSS file 
 */
 /* Reset CSS, be sure to have the same behavior whatever is the browser */
*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
    background-image: url('../header/marble-background2.jpeg');
}
/* Global variables declaration */
 :root
{
    --header_height: 210px;
    --body_offset: 230px;
    --header_item_height: 50px;
    --header_menu_offset: 50px;
}
/* Go on... */
 .header-flex 
 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
    height: var(--header_height);
 }
.header-flex > .header-item
{
    top:0;
    position: absolute;
}
.header-flex > .header-item:nth-child(1)
 {
    left: 0;
    margin: 0;
}
 .header-flex > .header-item:nth-child(n+2)
 {
    margin: 10px;
 }
.separator
{
    width: 100%;
    /* border-bottom-width: medium|thin|thick|length|initial|inherit;
     * border-bottom-style: none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit;
     * border-bottom-color: color|transparent|initial|inherit;
     */
    border-bottom: medium dashed blue;
    margin: 10px;
 }
 /* menu horizontal */
nav
{
	width: 100%;
	position: relative;
    font-size: 40px;
    margin: 0 auto;
    padding: 0px;
}
nav > ul
{
	list-style-type: none;
}
nav > ul > li > ul
{
	list-style-type: none;
}
nav > ul::after
{
	content: "";
	display: table;
	clear  : both;
}
nav > ul > li
{
 	float: left;
	width: 15%; 
	text-align: center;
    position: relative;
}
nav > ul > li:nth-child(n+2)
{
    top: var(--header_item_height);
    left: var(--header_menu_offset);
}
nav > ul li:hover .sous_menu
{
	display:block;
}
nav > a
{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
ul > li > a 
{
    top: 250px;
}
nav a:hover
{
    background-color: yellow;
    border-bottom: 2px solid gold;
}
.sous_menu
 {
    display: none;
    box-shadow: 0px 1px 2px green;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1111;
 }
 .sous_menu a
 {
    padding: 3px;
    border-bottom: none;
 }
 .sous_menu a:hover
 {
    border-bottom: none;
    background-color: yellow;
 }
.sous_menu > li
{
	float: none; 
	width: 100%;
	text-align: left;
}
.deroulant > a::after
{
    content: " *";
    font-size: 20px;
    font-style: bold;
    color: red;
}